################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/Web API/App_Data/autrebd.mdf
/Web API/App_Data/autrebd_log.ldf
/Web API/.vs/Web API\v15/*